{% extends "core.twig" %}
{% from "macros/common.twig" import card_begin, card_end, rich_edit %}

{% block content %}
{{ card_begin("Rich Edit Debug") }}
    <form action="" method="post" class="clearfix">
        {{ rich_edit(data.source) }}
        <input type="submit" value="Submit" style="font-weight: 700; float: right; margin-top: 2px;">
    </form>
    <br>
    <b>Result:</b>
    <br>
    {{ data.html|raw|keepspace }}
{{ card_end() }}
{% endblock %}