#richEditChoices > * {
    vertical-align: middle;
}

#richEditFormats {
    border: 1px solid #000;
    padding: 4px;
    background: #ddd;
    margin-top: 5px;
}

#richEditFormats button {
    width: 20px;
    height: 20px;
    padding: 1px;
    margin-right: 2px;
}

@mixin format-sprite($type) {
    #richEditFormat-#{$type} .sprite {
        @include sprite("sprites", "text_" + #{$type});
    }
}

@include format-sprite("bold");
@include format-sprite("italic");
@include format-sprite("underline");
@include format-sprite("strikethrough");
@include format-sprite("color");

@include format-sprite("sub");
@include format-sprite("sup");

@include format-sprite("h1");
@include format-sprite("h2");
@include format-sprite("h3");

@include format-sprite("quote");
@include format-sprite("spoiler");
@include format-sprite("code");
@include format-sprite("pre");
@include format-sprite("link");
@include format-sprite("img");

@include format-sprite("ul");
@include format-sprite("ol");

.richEditFormat-gap {
    display: inline-block;
    width: 4px;
}

.richEditForm {
    background: #eee;
    border: 1px solid #000;
    border-top: 0;
    padding: 4px;
    display: none;

    &.active {
        display: block;
    }
}

.richEditForm-insert {
    font-weight: 700;
}

#richEditText {
    margin-top: 0;
    width: 100%;
    @include box-sizing(border-box);
    border-top: 0;
    resize: vertical;
    font-family: monospace;
    font-size: 13px;
}