.user {
    color: #999;
}

.userIcon {
	float: left;
	margin-right: 6px;

	& > img {
		width: 64px;
		height: 64px;
	}
}

.userName {
    font-size: 14px;
    font-weight: 700;

    color: #000;

    &:hover {
        color: #167ac6;
    }
}