.user {
    color: #999;
}

.userDetails {
    word-wrap: break-word;
    overflow: hidden;
}

.userIcon {
	float: left;
	margin-right: 6px;
    border: 1px dashed #000;
    width: 62px;
    height: 62px;

	& > img {
		width: 62px;
		height: 62px;
        border: 0;
	}
}

.userName {
    font-size: 14px;
    font-weight: 700;

    color: #000;

    &:hover {
        color: #167ac6;
    }

    &:active {
		color: #f00;
	}
}