@import "images";

body {
	width: 800px;
	margin: auto;
	margin-top: 20px;
    background-color: #efefef;
    background-image: resolve-image("lines-top"), resolve-image("lines");
    background-repeat: repeat-x, repeat;
    background-position: top, top;
}

body, input, table, textarea {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
}

a {
	text-decoration: none;
	color: #167ac6;

	&:hover, &:focus {
		text-decoration: underline;
	}
	
	&:active {
		color: #f00 !important;
	}
}

.error {
	color: #f00;
	font-weight: 700;
}

input[type="text"],
input[type="password"],
textarea {
	background: #fff;
	border: 1px solid #000;
	padding: 2px 1px;
	
	&:focus-visible {
		outline: 0;
		border-color: #167ac6;
	}
}

input[type="checkbox"] {
	background: #fff;
	border: 1px solid #000;
	width: 13px !important;
	height: 13px !important;
	appearance: none;

	&, & + label {
		vertical-align: middle;
	}

	&:checked {
		@include sprite("sprites", "check");
	}

	&:active {
		background-color: #bbb;
	}
}

input[type="button"],
input[type="submit"],
button {
	background: #eee;
	border: 1px solid #000;
	padding: 2px 4px;

	&:hover {
		background: #ddd;

		&:active {
			background: #ccc;
		}
	}
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Imports */

@import "post";
@import "user";

/* Header styles */

#headerArea {
	color: #fff;
}

#headerLogo {
	display: inline-block;
	@include sprite("sprites", "logo");
}

#linksBar {
	width: 565px;
	height: 21px;
	margin-top: 48px;
	background: #000;
	display: inline-block;
	vertical-align: top;
	padding-top: 9px;

    a {
        color: #fff;
        font-weight: bold;
        margin: 5px;
    }
}

#accountActions {
	display: inline;
	float: right;
	margin-right: 5px;
	text-align: right;
}

#accountLink::after {
	content: "";
	display: inline-block;
	margin-left: 5px;
	@include sprite("sprites", "account_menu_chevron");
}

/* Base content styles */

#content {
	margin-top: 20px;
}

#leftCol, #rightCol {
	display: inline-block;
	vertical-align: top;
}

#leftCol {
	width: 230px;
	margin-right: 10px;

	.bigLeftCol & {
		width: 590px;
	}
}

#rightCol {
	width: 560px;

	.bigLeftCol & {
		width: 200px;
	}
}

/* Card styles */

.card {
	background: #fff;
	border: 1px #404040 solid;
	padding: 1px;
	margin-bottom: 10px;
}

.cardContent {
	padding: 5px;

	&, & > center {
		& > p,
		& > h1,
		& > h2,
		& > h3,
		& > h4,
		& > h5,
		& > h6 {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.cardHeader {
	background: #000;
	font-weight: 700;
	color: #fff;
	height: 14px;
	padding: 2px;
	position: relative;

	&::after {
		content: "";
		@include sprite("sprites", "card_decoration");
		position: absolute;
		top: 0;
		right: 0;
	}
}

.cardContent {
	margin-top: 1px;
}

/* Footer styles */

#footer {
	text-align: center;
	background: white;
	border: 1px #404040 solid;
	padding: 1px;
	font-size: 9px;
	color: #404040;
}

.menu {
	display: none;
	background: #fff;
	border: 1px solid #000;
	
	&, a {
		color: #000 !important;
		font-weight: 400 !important;
		text-align: left !important;
	}

	&.open {
		display: block;
	}

	a {
		display: block;
		margin: 5px;
	}
}