@import "images";
@import "mixins";

body {
	width: 800px;
	margin: auto;
	margin-top: 20px;
    background-color: #efefef;
    background-image: resolve-image("linesTop"), resolve-image("lines");
    background-repeat: repeat-x, repeat;
    background-position: top, top;
}

body, input, table, textarea, button, select {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 11px;
}

a {
	text-decoration: none;
	color: #167ac6;

	&:hover, &:focus {
		text-decoration: underline;
	}
	
	&:active {
		color: #f00;
	}
}

input[type="text"],
input[type="password"],
textarea {
	background: #fff;
	border: 1px solid #000;
	padding: 2px 1px;
	
	&:focus-visible {
		outline: 0;
		border-color: #167ac6;
	}
}

input[type="button"],
input[type="submit"],
button {
	background: #eee;
	border: 1px solid #000;
	padding: 2px 4px;
	@include box-sizing(content-box);
	height: 13px;
	line-height: 13px;

	&:hover {
		background: #ddd;

		&:active {
			background: #ccc;
		}
	}

	&.pushed {
		background: #ccc;
	}
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Text styles */

h1, h2 {
	margin-bottom: 6px;

	& + * {
		margin-top: 6px;
	}
}

h3 {
	margin-bottom: 4px;

	& + * {
		margin-top: 4px;
	}
}

ul {
	padding-left: 16px;
}

ol {
	padding-left: 28px;
}

code, pre {
	background: #f1f1f1;
	border: 1px solid #ccc;
	padding: 1px 2px;
}

pre > code {
	border: 0;
	padding: 0;
}

.spoiler {
	background: #000;
	color: #000;

	&:hover {
		color: #fff;

		&::selection {
			background: highlight;
			color: highlighttext;
		}
	}

	&::selection {
		background: #000;
		color: #000;
	}
}

blockquote {
	margin: 0;
	margin-left: 16px;
	padding: 4px;
	border-left: 2px solid #888 !important;
	background: #ddd;

	p, h1, h2, h3 {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		border: 1px solid #adadad;
	}
}

td {
	& > p,
	& > h1,
	& > h2,
	& > h3 {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Imports */

@import "post";
@import "user";
@import "actions";
@import "richEdit";

/* Header styles */

#headerArea {
	color: #fff;

	.darkBg & {
		color: #000;
	}
}

#headerLogo {
	display: inline-block;
	@include sprite("sprites", "logo");

	.darkBg & {
		@include sprite("sprites", "logo_i");
	}
}

#linksBar {
	width: 565px;
	height: 21px;
	margin-top: 48px;
	background: #000;
	display: inline-block;
	vertical-align: top;
	padding-top: 9px;

	.darkBg & {
		background: #fff;
	}

    a {
        color: #fff;
        font-weight: bold;
        margin: 5px;

		.darkBg & {
			color: #000;
		}
    }
}

#accountActions {
	display: inline;
	float: right;
	margin-right: 5px;
	text-align: right;
}

#accountLink::after {
	content: "";
	display: inline-block;
	margin-left: 5px;
	@include sprite("sprites", "account_menu_chevron");

	.darkBg & {
		@include sprite("sprites", "account_menu_chevron_i");
	}
}

/* Base content styles */

#leftCol, #rightCol {
	display: inline-block;
	vertical-align: top;
}

#leftCol {
	width: 230px;
	margin-right: 10px;

	.bigLeftCol & {
		width: 590px;
	}
}

#rightCol {
	width: 560px;

	.bigLeftCol & {
		width: 200px;
	}
}

#alerts {
	padding: 10px 0;
}

.alert {
	text-align: center;
	background: #000;
	color: #fff;
	border: 1px solid #000;
	font-weight: 700;
	margin-bottom: 6px;

	&:last-child {
		margin-bottom: 0;
	}

	&.alertError {
		background: #cc181e;
	}

	&.alertWarning {
		background: #f5d562;
		color: #000;
	}
}

.alertText {
	border: 1px solid #fff;
	padding: 4px;

	& > p,
	& > h1,
	& > h2,
	& > h3 {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* Card styles */

.card {
	background: #fff;
	border: 1px solid #404040;
	padding: 1px;
	margin-bottom: 10px;
}

.cardContent {
	padding: 5px;

	&, & > center {
		& > p,
		& > h1,
		& > h2,
		& > h3 {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.cardHeader {
	background: #000;
	font-weight: 700;
	color: #fff;
	height: 14px;
	padding: 2px;
	position: relative;

	&::after {
		content: "";
		@include sprite("sprites", "card_decoration");
		position: absolute;
		top: 0;
		right: 0;
	}
}

.cardContent {
	margin-top: 1px;
}

/* Table card styles */

/* I HAD a hack working to get the style I want without a wrapper element,
   but Chrome ruins everything. (: */
.tableCardWrapper {
	background: #fff;
	border: 1px solid #404040;
	margin-bottom: 10px;
}

.tableCard {
	border: 1px solid #fff;
	border-collapse: collapse;
	width: 100%;

	th {
		background: #000;
		color: #fff;
		text-align: left;

		&:last-child {
			position: relative;

			&::after {
				content: "";
				@include sprite("sprites", "card_decoration");
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}

	th + th {
		border-left: 1px solid #fff;
	}

	th, td {
		height: 14px;
		padding: 1px 2px 3px;
	}

	td + td {
		border-left: 1px solid #000;
	}

	tr + tr td {
		border-top: 1px solid #000;
	}

	tr:first-child + tr td {
		border-top: 0;
	}
}

/* Footer styles */

#footer {
	text-align: center;
	background: white;
	border: 1px #404040 solid;
	padding: 1px;
	font-size: 9px;
	color: #404040;
}

.menu {
	display: none;
	background: #fff;
	border: 1px solid #000;
	
	&, a {
		color: #000 !important;
		font-weight: 400 !important;
		text-align: left !important;
	}

	&.open {
		display: block;
	}

	a {
		display: block;
		margin: 5px;
	}
}