table {
    width: 100%;
    border-collapse: collapse;
}

.cardContent {
    padding: 0;
}

.required {
    color: #f00;
    font-weight: 700;
}

tr {
    height: 25px;
    border-bottom: 1px solid #808080;

    &.last {
        border: 0;

        td {
            padding-left: 0;
        }
    }
}

td {
    padding: 6px 4px;

    &.top {
        vertical-align: top;
    }

    &.left {
        background-color: #f0f0f0;
        border-right: 1px solid #808080;
        font-weight: 700;
        width: 50%;
    }
}

.description {
    font-weight: normal;
}

input[type="checkbox"] {
    margin-left: 0;
}