{% extends "core.twig" %}
{% from "macros/common.twig" import card_begin %}
{% from "macros/common.twig" import card_end %}

{% block content %}

{{ card_begin("Page Not Found") }}
The page you requested was not found on this site.
<br>
<a href="/">Return to homepage</a>
{{ card_end() }}
{% endblock %}