{% extends "core.twig" %}
{% from "macros/common.twig" import card_begin %}
{% from "macros/common.twig" import card_end %}

{% block content %}

{{ card_begin("Internal Server Error") }}
The server was unable to process your request.
<br><br>
{% if custodesk.isDebug() %}
<b>Details:</b><br>
<pre>{{ data.message }}</pre>
{% else %}
Please give the following failure ID to a server administrator: <b>{{ data.failureId }}</b><br>
{% endif %}
<br>
<a href="/">Return to homepage</a>
{{ card_end() }}
{% endblock %}