{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CustoDesk{{ data.title ? " - " ~ data.title }}</title>
		<link rel="shortcut icon" href="{{ custodesk.vfl.resolveImage("favicon") }}" type="image/png">
        <link rel="stylesheet" href="{{ custodesk.vfl.resolveCSS("core") }}">
		{% block css %}{% endblock %}
    </head>
    <body>
		<div id="headerArea">
			<a id="headerLogo" href="/"></a>
			<div id="linksBar">
				<a href="/list/resources">Resources</a>
				<a href="/list/tutorials">Tutorials</a>
				<a href="/list/wallpapers">Wallpapers</a>
				<a href="/list/screenshots">Screenshots</a>
				<div id="accountActions">
					{% if true %}
					<a href="/register">Register</a>
					<span>or</span>
					<a href="/login">Log in</a>
					{% else %}
					<a href="/user/1" id="accountLink" onclick="toggleMenu('accountMenu', event)">aubymori</a>
					<div id="accountMenu" class="menu">
						<a href="/user/1">Profile</a>
						<a href="/new">Create post</a>
						<a href="/logout">Log out</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="footer">
			© 2026 CustoDesk. All Rights Reserved.
		</div>
		<script src="{{custodesk.vfl.resolveJS("core") }}"> </script>
		{% block js %}{% endblock %}
    </body>
</html>
{% endapply %}
