{% extends "core.twig" %}

{% block content %}
{% block above %}{% endblock %}
<div id="twoColContainer" class="{{ big_left_col ? "bigLeftCol" }}">
    <div id="leftCol">{% block left_col_content %}{% endblock %}</div>
    <div id="rightCol">{% block right_col_content %}{% endblock %}</div>
</div>
{% endblock %}